<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Database Configuration -->
	<import resource="config/spring/DataSource.xml"/>
	<import resource="config/spring/HibernateSessionFactory.xml"/>
	<import resource="config/spring/TransactionManager.xml"/>

	<!-- Beans Declaration -->

	<import resource="fsoft/xdev/mock/spring/ContactsBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/TrustDistrictsBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/TrustRegionsBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/GovtOfficeRegionsBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/PremisesBean.xml"/>

	<import resource="fsoft/xdev/mock/spring/ServicesBean.xml"/>

	<import resource="fsoft/xdev/mock/spring/OrganisationsBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/SupportingMaterialsBean.xml"/>

<!-- 	
	<import resource="fsoft/xdev/mock/spring/AddressesBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/CountiesBean.xml"/>	
	<import resource="fsoft/xdev/mock/spring/CountriesBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/DepartmentsBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/DirectoratesBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/FacilitiesBean.xml"/>
	
	<import resource="fsoft/xdev/mock/spring/Organisation_ProgrammeBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/Organisation_ServiceBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/OrganisationsBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/PremisesBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/ProgrammesBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/ReferenceDataBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/Service_PremiseBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/ServicesBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/TeamsBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/TownsBean.xml"/>
		
	<import resource="fsoft/xdev/mock/spring/TypeOfBusinessBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/UsersBean.xml"/>
	<import resource="fsoft/xdev/mock/spring/VolunteersBean.xml"/>
	
	-->

</beans>