<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=DataMock</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="fsoft/xdev/mock/models/Services.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Towns.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/ReferenceData.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Volunteers.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Teams.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Departments.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Counties.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/OrganisationService.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Contacts.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Premises.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/OrganisationProgramme.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/ServicePremise.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/TrustRegions.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/TypeOfBusiness.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Addresses.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Directorates.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/TrustDistricts.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Countries.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/GovtOfficeRegions.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Facilities.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Organisations.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Programmes.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/SupportingMaterials.hbm.xml"/>
    <mapping resource="fsoft/xdev/mock/models/Users.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
