@CHARSET "ISO-8859-1";

html{height: 100%;}

body {
	height: 100%;
	font: 10px normal Verdana, Arial, Helvetica, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

div.xdev-sign {
	color: green;
	margin: 5px auto 5px;
	padding: 5px;
	text-align: center;
}

div.xdev-account {
	padding: 5px 5px 10px 10px;
	background: url(../images/xmock_stretch_green.gif) repeat-x;
	font: 15px bold Verdana, Arial, Helvetica, sans-serif;
	color: white;
}
div.xdev-account > a {
	margin-left: 10px;
	color: green;
}

img.xdev-logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    opacity:0.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */
}

/*************************************/
/************** Login ****************/
/*************************************/

.login {width:320px;padding: 114px 0 0;margin: auto;}
.login form {-webkit-border-radius:3px;border-radius:3px;border-width:1px;border-style:solid;}
.login form .input {font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;}
.login * {margin:0;padding:0;}
.login form {margin-left:8px;padding:26px 24px 46px;font-weight:normal;background:#fff;border:1px solid #e5e5e5;-moz-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;-webkit-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;}
.login label {color:#777;font-size:14px;}
.login form p {margin-bottom:24px;}
.login form .input{font-weight:200;font-size:24px;line-height:1;width:100%;padding:3px;margin-top:2px;margin-right:6px;margin-bottom:16px;border:1px solid #e5e5e5;background:#fbfbfb;outline:none;-moz-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);-webkit-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);}
.login input{color:#555;}

input.button-primary{
	text-decoration:none;font-size:20px!important;line-height:21px;padding:3px 8px;
	cursor:pointer;border-width:1px;border-style:solid;
	-webkit-border-radius:11px;border-radius:11px;-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;box-sizing:content-box;
}


/*************************************/
/************** Menu *****************/
/*************************************/

ul#topnav {
	display:block;
	margin: 0; padding: 0;
	float: left;
	width: 965px;
	list-style: none;
	position: relative;
	font-size: 1.2em;
	background: url(../images/xmock_stretch_green.gif) repeat-x;
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	border-right: 1px solid #555;
}
ul#topnav li a {
	padding: 10px 15px;
	display: block;
	color: #f0f0f0;
	text-decoration: none;
}
ul#topnav li:hover { background: #1376c9 url(../images/xmock_active_green.gif) repeat-x; }
ul#topnav li span {
	float: left;
	padding: 15px 0;
	position: absolute;
	left: 0; top:35px;
	display: none;
	width: 965px;
	background: green;
	color: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
ul#topnav li:hover span { display: block; }
ul#topnav li span a { display: inline; }
ul#topnav li span a:hover {text-decoration: underline;}

#space {
	height: 35px;
	float: left;
	margin-bottom: 5px;
	position: relative;
	border: 1px;
}

.show {
	display: block;
}
.hide {
	display:none;
}

/*************************************/
/************* Filter ****************/
/*************************************/
ul#xdev-filter {
	display:block;
	margin-left: 0;
	padding-left: 0;
	float: left;
	list-style: none;
	position: relative;
	font-size: 1.2em;
}
ul#xdev-filter li {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #555;
	color: blue;
}
ul#xdev-filter li:hover {
	text-decoration:underline;
	cursor: pointer;
}


/*************************************/
/************* Content ***************/
/*************************************/

.required {color: red;}
.clear {clear: left;}

.xdev-wrapper {
	margin: 0 auto;
	width: 965px;
}

.xdev-window {
	width: 100%;
}

h1.xdev-section-title {
	color: green;
}

div.xdev-checkbox-list {
	height: 100px;
	width: 250px;
	overflow-y:scroll;
	overflow-x:scroll;
	border: 1px solid #666;
	background-color: #fff;
	padding: 8px;
}

.xdev-sub { margin: 5px; }

.xdev-form { width: 100%; }
.xdev-form tr {	width: 50%; float: left; }
.xdev-form td {	float: left; width: 60%; }
.xdev-form td > input, select {	width: 70%; }
.xdev-form td > input[type="checkbox"] {width: auto;}
.xdev-form td.tdLabel, .checkboxLabel {	width: 30%; }
