@CHARSET "ISO-8859-1";

body {
	font: 62.5% "Trebuchet MS", sans-serif;
}

body {
	font: 10px normal Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

/* For menu template */
 .container {width: 965px; margin: 0 auto; } 

ul#topnav {
	margin: 0; padding: 0;
	float: left;
	width: 970px;
	list-style: none;
	position: relative;
	font-size: 1.2em;
	background: url(../images/xmock_stretch.gif) repeat-x;
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	border-right: 1px solid #555;
}
ul#topnav li a {
	padding: 10px 15px;
	display: block;
	color: #f0f0f0;
	text-decoration: none;
}
ul#topnav li:hover { background: #1376c9 url(../images/xmock_active.gif) repeat-x; }
ul#topnav li span {
	float: left;
	padding: 15px 0;
	position: absolute;
	left: 0; top:35px;
	width: 970px;
	background: #1376c9;
	color: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
ul#topnav li span a { display: inline; }
ul#topnav li span a:hover {text-decoration: underline;}

/* .show { */
/* 	display:inline; */
/* } */
/* .hide { */
/* 	display:none; */
/* } */

/*********/


.required {color: red;}
.clear {clear: both;}

.xdev-wrapper {
	margin: 0 auto;
	width: 965px;
/* 	position: relative; */
}

.xdev-window {width: 100%;}
.xdev-window-title h1 {color: green;}

.xdev-window-header {
	width: 100%;
	margin: 5px 5px 5px 5px;
}

.xdev-window-body {
	width: 100%;
	margin: 5px 5px 5px 5px;
	}

.xdev-window-footer {
	width: 100%;
	margin: 5px 5px 5px 5px;
}

.xdev-sub {margin: 5px 5px 5px 5px;}

.xdev-field {
	width: 50%; float: left;
}
.xdev-field > * {margin-right: 5px;}
.xdev-field > label {width: 30%; display: inline-block;}
.xdev-field > input,select {width: 40%;}
.xdev-field > a {width: 25%;}
